<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-4">
              <div class="footer-top-right">
                <a href="index.html" title="Logo">Medi<span class="text-primary">Max.</span></a>
                <p>Lorem Ipsum is simply
                  dummy <br>text of the printing
                  and typesetting <br>industry. Lorem Ipsum has been the industry's</p>
              </div>

              <div class="footer-social-link">
                <ul>
                  <li class="facebook"><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                  <li class="pinterest"><a href="#"> <i class="fa fa-pinterest"></i> </a></li>
                  <li class="instagram"><a href="#"> <i class="fa fa-instagram"></i> </a></li>
                  <li class="twitter"><a href="#"> <i class="fa fa-twitter"></i> </a></li>
                  <li class="google-plus"><a href="#"> <i class="fa fa-google-plus"></i> </a></li>
                </ul>
              </div>
            </div>

            <div class="col-md-12">
              <div class="footer-bottom">
                <div class="row">
                  <div class="col-md-5">
                    <p>© All Rights Reserved </p>
                  </div>
                  <div class="col-md-7">
                    <ul>
                      <li><a href="#"> About Us </a></li>
                      <li><a href="#"> Privacy Policy </a></li>
                      <li><a href="#"> Help Center </a></li>
                      <li><a href="#"> Terms </a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
</footer>
