<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-top">
          <div class="row">
            <div class="col-md-4">
              <div class="footer-top-right">
                <a href="/" title="Logo">
                  <img src="/images/logo/logo.png" alt="logo" />
                </a>
                <p>Lorem Ipsum is simply
                  dummy <br>text of the printing
                  and typesetting <br>industry. Lorem Ipsum has been the industry's</p>
              </div>
            </div>

            <div class="col-md-12">
              <div class="footer-bottom">
                <div class="row">
                  <div class="col-md-5">
                    <p>© All Rights Reserved </p>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
</footer>
