<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Medi-Max | Medical HTML Template</title>
    <!-- Bootstrap Css -->
    <link href="/assets/bootstrap-4/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/swiper/swiper.min.css" rel="stylesheet">
    <link href="/css/slick.css" rel="stylesheet">
    <link href="/assets/poper/css/popper.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/meanmenu.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
    <!--Font Awesome Css-->
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--Custum Css-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">

</head>



<body>
