<header class="mobile-header">
  <div class="container">
    <div class="flex-header">
      <div class="logo">
        <a href="/" title="Logo">MediMax.</a>
      </div>

      <div class="content-menu">
        <div class="nav-menu">
          <div class="btn-menu"><span></span></div>
          <nav class="mobile-menu">
            <ul class="menu">
              <li><a href="/">Home</a></li>
              <li><a href="/blogs">Blogs</a></li>
              <li>
                <a href="#" class="current-language">Language (Язык)</a>
                <ul class="sub-menu">
                  <li><a href="?lng=en">English</a></li>
                  <li><a href="?lng=ru">Русский</a></li>
                </ul>
              </li>
            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>
</header>
