<header class="mobile-header">
  <div class="container">
    <div class="flex-header">
      <div class="logo">
        <a href="index.html" title="Logo">MediMax.</a>
      </div>
      <div class="content-menu">
        <div class="nav-menu">
          <div class="btn-menu"><span></span></div>
          <nav class="mobile-menu">
            <ul class="menu">
              <li>
                <a href="index.html" class="active">Home</a>
                <ul class="sub-menu">
                  <li><a href="index.html" class="active">Home 1</a></li>
                  <li><a href="index-2.html" class="active">Home 2</a></li>
                  <li><a href="index-3.html" class="active">Home 3</a></li>
                </ul>
              </li>
              <li>
                <a href="#">About</a>
                <ul class="sub-menu">
                  <li><a href="about.html">About US</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Services</a>
                <ul class="sub-menu">
                  <li><a href="services.html">Services</a></li>
                  <li><a href="service-single.html">Services Details</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Case</a>
                <ul class="sub-menu">
                  <li><a href="case.html">Case</a></li>
                  <li><a href="case-detail.html">Case Details</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Pages</a>
                <ul class="sub-menu">
                  <li><a href="team.html">Team</a></li>
                  <li><a href="team-details.html">Team details</a></li>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="Register.html">Register</a></li>
                  <li><a href="appoinment.html">Appointment</a></li>
                </ul>
              </li>
              <li>
                <a href="#">News</a>
                <ul class="sub-menu">
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="blog-single.html">Blog single</a></li>
                </ul>
              </li>
              <li>
                <a href="contact.html">Contact</a>

              </li>
            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>
</header>
