<header id="header" class="header">
  <div class="container">
    <div class="flex-header">
      <div class="logo">
        <a href="/" title="Logo">Medi<span class="text-primary">Max.</span></a>
      </div>
      <div class="content-menu">
        <div class="nav-menu">
          <div class="btn-menu"><span></span></div>
          <nav id="main-menu" class="main-menu">
            <ul class="menu">
              <li><a href="/"><%= t('Home')%></a></li>
              <li><a href="/blogs"><%= t('Blogs') %></a></li>
            </ul>
          </nav>

        </div>

      </div>
    </div>
  </div>
</header>
